@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat+Alternates:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    outline:0;
    box-sizing: border-box;
    font-family:'Inter', sans-serif;

}
body{
    background-color: #000000e5;
   
    height:100%;
    overflow:hidden;
}

.navbar{
   
    float:left;
    width:17%;
    height:105vh;
    background-color:#32323a;
  
}
.navbar-nav{
    list-style: none;
}
.navbar-nav a{
   text-decoration: none;
   color:white;
   font-size:1.2rem;
}
.navbar-nav a:hover{
    color:red;
    font-size:1.4rem;
}
.nav-item img{
   
    background-color:#0294f9;
}

.nav-item{
    margin:5px;
    margin-left:10px;
    padding:5px
    
}
#image{
    padding:0;
     height:50px;
    width:105%;
    border-radius:5px;
   

}
/* main-content */
.content{
    width:80%;
    height:10%;
    float:right;
    text-align: center;
    
   
}
#main-content img{
   height:285px;
   width:80%;
   border-radius:5px;
}
h1{
    margin:10px;
    color:#5c0080da;
    font-size:2.5rem;
}
p{
    font-size:larger;
    text-align: left;
    margin:20px 20px;
    color:white;
    
}
hr{
    border:none;
    border-top:1px dotted #000000e5;
}
.bot-icon img{
    width:100px;
}
.bot-icon{
    position:fixed;
    right:30px;
    bottom:10px;
    opacity:0.9;
}

